<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6aaa8d">  <td>20/04/25 10:28:57</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;reports_html.ExtentReports()[pri:0, instance:reports_html.reports_html@4eb7f003]">&gt;&gt;ExtentReports</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@22069592</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>20/04/25 10:28:59</td>   <td>1896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;reports_html.setup()[pri:0, instance:reports_html.reports_html@4eb7f003]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@22069592</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>20/04/25 10:29:19</td>   <td>21638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="reports_html.amazontest()[pri:0, instance:reports_html.reports_html@4eb7f003]">amazontest</td> 
  <td>main@22069592</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>20/04/25 10:29:19</td>   <td>22434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;reports_html.tearDown(org.testng.ITestResult)[pri:0, instance:reports_html.reports_html@4eb7f003]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@22069592</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>20/04/25 10:29:19</td>   <td>22439</td> <td>&nbsp;</td><td title="&lt;&lt;reports_html.endReport()[pri:0, instance:reports_html.reports_html@4eb7f003]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@22069592</td>   <td></td> </tr>
</table>
